body {
    background-color: rgb(241, 215, 215)
}

label {

    font-size: 20px;
    font-family: sans-serif;
    text-align: center;

}

button {
    font-size: 30px;
    background-color: rgb(76, 95, 76);
    width: 200px;
}

.container-fluid {
    width: 450px;
    background-color: rgb(164, 164, 238);
    margin-top: 5rem;
    align-content: center;
    margin-left: 80vh;
    border-radius: 15px;
    box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ;

}

#form01 {
    margin-left: 2.5rem;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    margin-right: 2.5rem;

}

tr, td {
    width: 80px;
    height: 20px;
    border: 1px solid grey;
    text-align: center;
    font-size: 18px;
}

th {
    width: 80px;
    height: 20px;
    border: 1px solid grey;
    text-align: center;
    font-size: 12px;
    text-emphasis-style: bold;
}

#HowToUse.inicial {
    width: 300px;
    border: 1px solid black;
}

.active {
    display: none;
}




img {
    width: 50px;
    height: 50px;
    background: rgb(219, 200, 200);
    border-radius: 50%;
}
